<div class="content">
    <p *ngIf="exibirResultado;then blocoThen else blocoElse"></p>
    <ng-template #blocoThen>

        <h2>{{pessoa.nome}}, você acertou {{respostasCorretas}} de {{quantidadeDePerguntas}} perguntas!!!</h2>
        <a routerLink="/user/simulado">
            <button mat-raised-button color="primary" (click)="recarregarPagina()">Tentar Novamente</button>
        </a>
        <a routerLink="/user/historico">
            <button mat-raised-button color="primary">Visualizar Historico</button>
        </a>
    </ng-template>
    <ng-template #blocoElse>
        <h2>Simulado</h2>
        <h3>{{pergunta.pergunta}}</h3>
        <mat-radio-group [(ngModel)]="resposta" id="radio-group">
            <mat-radio-button value="1" name="resposta">{{pergunta.resposta1}}</mat-radio-button>
            <mat-radio-button value="2" name="resposta">{{pergunta.resposta2}}</mat-radio-button>
            <mat-radio-button value="3" name="resposta">{{pergunta.resposta3}}</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
    </ng-template>
</div>
<br>