.content {
  display: flex;
  margin: 50px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

p{
  margin-bottom: 50px;
}

table {
 width: 50%;
 margin: 20px 50px;
}

table th{
  background-color: #1976d2;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
  padding: 0;
 }

 table td{
  text-align: center;
  padding: 0;
 }

#area-secreta a{
  margin-left: 7px;
}

@media (max-width:800px) {
  table {
    width: 90%;
    margin: 20px 50px;
   }

   #area-secreta button{
    margin-bottom: 10px;
  }
}