.content {
  display: flex;
  margin: 50px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

p{
  margin-bottom: 50px;
}

table {
 width: 100%;
 margin: 20px 50px;
}

table td:first-child{
  padding: 10px;
 }

table th{
  background-color: #1976d2;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
  padding: 10px;
 }

 table td{
  text-align: center;
 }

 .formulario{
  text-align: center;
  margin-top: 15px;
 }


@media (max-width:800px) {
  table {
    width: 90%;
    margin: 20px 50px;
    display: block;
   }

   .formulario{
     display: flex;
     flex-direction: column;
     margin-top: 15px;
     text-align: center;
   }

   table td:last-child{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
}